h1 {
    color: #52ffa5;
    text-align: center;
}
.pagosContent {

}
.pagoPendiente, .pagoUrgente, .pagoExpirado {
    display: inline-block;
    margin: 8px;
    width: 20%;
    border-color: black;
    border: solid 3px;
}

.tituloPago, .infoPago, .fechaLimitePago {
    display: inline-block;
}

#pagoPendiente1{

}
.tituloPago {
    color: #52ffa5;
}
.infoPago {
    color: #52ffa5;
}
.fechaLimitePago {
    color: #52ffa5;
}
