.pagosContent {

}
.pagoPendiente, .pagoUrgente, .pagoExpirado {
    display: inline-block;
    margin: 8px;
    width: 250px;
    background-color: #f4f4f4;
}

.tituloPago {
    margin:0px;
}

.contenidoPago {
    margin: 8px 18px;

}

.pestanaFechaInicioPago {
    background-color: #e5e5e5;
    padding: 8px;
    width: 95px;
    border-right: solid 3px;
    border-bottom: solid 3px;
    border-color: #f0f0f0;
}


.pagoPendiente {
    border: solid 3px;
    border-color: #e0e0e0;
}

.fechaLimiteExpirado {
    color: red;
}
.pagoExpirado {
    border: solid 3px;
    border-color: #e0e0e0;
}

.pagoUrgente {
    border: solid 3px;
    border-color: #ffd46f;
}

.mensajenulo{
	color: #9a413a;
    font-size: 26px;
}
