.pageTitle{
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 36px;
    display: block;
}

.pedidoActivo, .pedidoCerrado{
    display: inline-block;
    margin: 8px;
    width: 250px;
    background-color: #f4f4f4;
}

.tituloPedido{
    margin:0px;
}

.contenidoPedido {
    margin: 8px 18px;

}

.pestanaFechaInicioPedido {
    background-color: #e5e5e5;
    padding: 8px;
    width: 95px;
    border-right: solid 3px;
    border-bottom: solid 3px;
    border-color: #f0f0f0;
}


.pedidoActivo {
    border: solid 3px;
    border-color: #e0e0e0;
}

.pedidoActivo {
    color: red;
}

.button {
    background-color: #c42d2d;
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #c42d2d;
    color: white;
    border: 2px solid #c42d2d;
}

.button1:hover {
    background-color: firebrick;
    color: black;
}

.button2 {
    margin-top: 2em;
    background-color: #c42d2d;
    color: white;
    border: 2px solid #c42d2d;
}

.button2:hover {
    background-color: firebrick;
    color: black;
}
